<div class="center hero-unit">
  <h1>Welcome to Human Perf App</h1>

  <h2>
    This is the home page for the
    <a href="http://rubyonrails.org/">Human Perf</a> application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
 