<% provide(:task_title, @program.task_title) %>
<div class="row">
  <div class="span12 program">
    <h5>The complete library of items in the program.</h5>
    <section>
        <h4><%= @program.task_title %></h4>
    </section>
  </div>
</div>
