<footer class="footer">
  <small>
    <a href="http://rubyonrails.org/">Human Perf</a>
    by Anatol Manoila
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://rubyonrails.org/">News</a></li>
    </ul>
  </nav>
</footer>